.text-label {
  color: #fff;
  font-family: "Fira Mono", Monaco, "Andale Mono", "Lucida Console", "Bitstream Vera Sans Mono", "Courier New", Courier, monospace;
  margin: -5px 0 0 15px;
  pointer-events:none;
}

#div_g {
	width: 800px; 
	height: 300px; 
	margin-left: auto; 
	margin-right: auto;
}

body {
	text-align: center;
}